@import "open-props/colors-hsl";
*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}


.pro-con{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(var(--gray-9-hsl) / 99%);
}

.projects{
    gap: var(--size-3);
    margin-top: var(--size-3);
    height: 100%;
    width: 100vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}