@import "open-props/colors-hsl";
*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}


.projects{
    max-width: 100%;
    margin: 0 auto;
    /* overflow: auto; */
    padding: var(--size-3);

    /* grid-auto-columns: minmax(300px,1fr);
    grid-auto-flow: column; */
    gap: var(--size-2);
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: hsl(var(--indigo-9-hsl) / 90%);
}