body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.type {
  display: inline-block;
  border: 1px solid red;
}

.popperToy {
  background-color: black;
  border-radius: var(--radius-conditional-3);
  padding: var(--size-3);
  box-shadow: var(--shadow-3);
  border: var(--border-size-3) solid transparent;
  color: var(--violet-2);
}
